<section class="landing-section h-screen w-screen text-center relative overflow-hidden"
data-header-color="white">
    <div class="z-30 relative h-full flex flex-col">
        <header>
            <h1 class="text-white pt-20 text-4xl font-medium">Experience Tesla</h1>
            <p class="text-white text-xs pt-2">Schedule a Demo Drive Today</p>
        </header>

        <footer class="flex flex-col flex-grow justify-end pb-4">
            <div class="pb-8 gap-x-4 flex mx-auto">					
                <a
                class="border-[3px] border-white bg-white/5 backdrop-blur-sm text-sm rounded font-medium text-white px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors"
                href="#"
              >
                Demo Drive</a
              >
            </div>
            <p class="text-white text-xs">Tesla UI made by <a href="https://github.com/agustinareginaldo" class="underline" target="_blank">Agustina Reginaldo</a> 🌸</p>
        </footer>
    </div>

    <div class="absolute top-0 bottom-0 h-full w-full z-10">
        <video class="object-center" autoplay muted loop src="/Hero-Video.mp4"></video>
    </div>
</section>