<section class="landing-section h-screen w-screen text-center relative overflow-hidden"
data-header-color="black">
    <div class="z-30 relative h-full flex flex-col">
        <header>
            <h1 class="text-black pt-20 text-4xl font-medium">Model Y</h1>
            <h2 class="text-black pt-2 text-xl font-medium">From $39,390*</h2>
            <p class="text-black text-xs">After Federal Tax Credit & Est. Gas Savings</p>
        </header>

        <footer class="flex flex-col flex-grow justify-end pb-4">
            <div class="pb-8 gap-x-4 flex mx-auto">					
            <a class="text-gray-900 font-medium text-sm rounded bg-white hover:bg-gray-900 hover:text-white px-12 py-2 inline-block" href="#">Order Now</a>
            <a class=" bg-gray-900 text-white hover:bg-white hover:text-gray-900 font-medium text-sm rounded px-12 py-2 inline-block" href="#">Demo Drive</a>
            </div>

            <p class="text-gray-900 text-xs">*Price before incentives and savings is $50,490, excluding taxes and fees. Subject to change.</p>
            <a class="text-gray-900 text-xs underline" href="#">Learn about est. gas savings.</a>

        </footer>
    </div>

    <div class="absolute top-0 bottom-0 h-full w-full z-10">
        <img src="/model-y.avif" alt="Model Y" class="h-full w-full object-center object-cover">
    </div>
</section>